* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #505962;
  background: #E5E5E5;
}




/* profile */

.btn-pr {
  padding: 4px 28px;
  border-radius: 5px;
  background: #00AEFF;
}

.card {
  box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
  border-radius: 5px;
}

.intern-other {
  margin: auto 20%;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

#skills ul, #socials ul{
  list-style: none;
  padding-left: 0;
}

#skills ul li, #socials ul li {
 border-top: 1px solid #ccc;
 padding: 16px 0;
 display: flex;
 justify-content: space-between;
}
